
@import url(http://weloveiconfonts.com/api/?family=iconicstroke);

/* iconicstroke */
[class*="iconicstroke-"]:before {
  font-family: 'IconicStroke', sans-serif;
}

body {
	width:100%;
	background-color: #23bf83;
}

div#settings_bar {
	width:100%;
	background-color: #999;
	color: #fff;
	font-family: 'IconicStroke', sans-serif;
	font-size: 3em;
	padding: 10px;
}

div#settings_container {
	position:fixed;
	background-color: #999;
	z-index:100;
	padding:20px;
	font-size: .25em;
}

div.settings_group {
	margin: 0px 15px;
}

div.set_group {
	float:left;
}

.set_group th {
	border-bottom: 1px solid white;
	font-weight:bold;
	padding-top: 2px;
}

.seperator-right {
	margin-right:25px;
}

div#my_kingdom {
	width:100%;
	color: #fff;
	padding:10px;
}

div#generate_container{
	width:15%;
	float:left;
}

div#results_container{
	margin-left:15%;
	width: 75%;
	border: 1px solid white;
}

div#generate {
	font-size: 3em;
	color: #fff;
	margin:20px;
	height:300px;
	text-align:right;
}

div#results {
	height: 300px;
	margin:20px;
	overflow:auto;
}

div#blackmarket_container {
	margin-top:20px;
	width:90%;
	border:1px solid #000;
	clear:both;
}

div#blackmarket {
	margin: 20px;
	color: #333;
}

div#blackmarket_flop {
	margin: 20px;
}

.card_text {
	font-style: italic;
}