<!DOCTYPE html>
<html>
<head>
<style>
	div {
		border: 1px solid blue;
	}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="randomizer.js"></script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  <div ng-app="myApp" ng-controller="myController">
	<table ng-if="testing_tools">
		<tr>
			<th>Total</th>
			<th>w/Col/Plat</th>
			<th>w/Shelt</th>
			<th>w/both</th>
		</tr>
		<tr>
			<td>{{stats.total_created}}</td>
			<td>{{stats.w_col_plat}}</td>
			<td>{{stats.w_shelt}}</td>
			<td>{{stats.w_both}}</td>
		</tr>
	</table>
	
	<button ng-click="createMyKingdom()">Create</button>
	
	<table>
		<tr>
			<td>
						
				
				<div ng-if="testing_tools">
					<button ng-click="createMultiple()">Create Multiple</button>
					<input type="text" ng-model="how_many"/>
				</div>
				<div ng-if="my_kingdom.kingdom_cards.length > 0">
					<p ng-if="my_kingdom.use_col_plat">Use Colony and Platinum</p>
					<p ng-if="my_kingdom.use_shelters">Use Shelters</p>
					<p>
						Kingdom Cards {{my_kingdom.kingdom_cards.length}}:
						<li ng-repeat="card in my_kingdom.kingdom_cards | orderBy:['costcoins','costpotions','costdebt','card']">{{card.card}} ({{displayCost(card)}}) ({{card.set}})<span ng-if="card.card=='Young Witch'">Bane:{{my_kingdom.bane.card}}</span></li>
					</p>
					<p ng-if="my_kingdom.blackmarket.length > 0">
						Black Market cards:
						<li ng-repeat="card in my_kingdom.blackmarket">{{card.card}} ({{displayCost(card)}}) ({{card.set}})<span ng-if="card.card=='Young Witch'"><br/>&nbsp;Bane:{{my_kingdom.bane.card}}</span></li>
					</p>
					<p ng-if="my_kingdom.events.length > 0">
						Event Cards:
						<li ng-repeat="card in my_kingdom.events | orderBy:['costcoins','costpotions','costdebt','card']">{{card.card}} ({{displayCost(card)}})</li>
					</p>
					<p ng-if="my_kingdom.landmarks.length > 0">
						Landmark Cards:
						<li ng-repeat="card in my_kingdom.landmarks | orderBy:'card'">{{card.card}}</li>
					</p>
				</div>
			</td>
			
			<td>
				<div>
					Filters
					<br/>
					<input type="checkbox" ng-repeat-start="set in sets | orderBy:'release_order'" ng-model="set.selected">{{set.name}}
					<select ng-model="set.min" ng-options="n for n in [0,1,2,3,4,5]">
					</select>
					<br ng-repeat-end/>
					
					
					<ul>
						<li>include which sets</li>
						<li>max number from each set</li>
						<li>min number from each set</li>
					</ul>
				</div>
			</td>
			
			<td>
				<div>
					Settings
					<ul>
						<li>Sort cards: by name, by cost, by set</li>
						<li>When sorting by set: name vs. release order</li>
						<li>Number of cards to draw when checking for colony/plat, shelters</li>
						<li>Should those cards be replaced every time?</li>
						<li>HOw many cards in the black market deck?</li>
						<li>Max number of landmarks, events (and combination thereof)</li>
					</ul>
				</div>
			</td>
		</tr>
	</table>
		
	<div>
		Show Randomizers: <input type="checkbox" ng-model="showRandomizers"/>
		Show Sets: <input type="checkbox" ng-model="showSets"/>
		<div ng-show="showRandomizers">
			<li ng-repeat="card in all_cards | filter:filterIsRandomizer | orderBy:'array_index'">{{card.array_index}}. {{card.card}} ({{card.function}}) ({{card.num_times_picked}})</li>
		</div>
		<div ng-show="showSets">
			<li ng-repeat="set in sets | orderBy:set">{{set}}</li>
		</div>
	</div>
  </div>
  
</body>
</html>